.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > button {
  width: 300px;
  background-color: #1977f3;
  color: white;
  font-weight: 800;
}

.login > button:hover {
  background-color: white;
  color: #1977f3;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > div {
  display: flex;
  flex-direction: column;
}
